*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #B1D0E0;
}
.container{
	width: 80%;
	height: auto;
	padding: 20px;
	margin-top: 10px;
}
.box{
	width: 100%;
	background: rgba(0, 0, 0, .02);
	border: 1px dotted rgba(0, 0, 0, .5);
	margin: 10px auto;
	text-align: center;
	padding: 10px;
	border-radius: 3px;
}
.box h2{
	text-transform: uppercase;
	margin: 10px;
	padding: 10px;
	text-decoration: underline;
	color: #1A374D;
}
.box label{
	display: inline-block;
	margin-right:20px;
	font-size: 16px;
	border: 1px solid rgba(0, 0, 0, .5);
	border-radius: 5px;
	padding: 8px;
}
.box label input{
	margin-right: 10px;
	width: 15px;
	height: 15px;
}
.corrige,
.result-btn{
	text-transform: uppercase;
	padding: 8px 18px;
	background: transparent;
	border: 1px solid #1A374D;
	border-radius: 5px;
	font-weight: bold;
	letter-spacing: .8px;
	margin-right: 5px;
	cursor: pointer;
	transition: all 0.5s ease;
}
.corrige:hover{
	background: #1A374D;
	border: none;
	color: #B1D0E0;

}
.questionCorrect{
	color: green!important;
}
.questionFaux{
	color: red!important;
}